/*==============================================================================
    CSS pour la vidéo en background
  ============================================================================*/
section {
  background-color: transparent;
}
.video_container {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
